[View in Colaboratory](https://colab.research.google.com/github/kalyan369/Python_DS_ML_DL_Examples/blob/master/NA_Python_Introduction.ipynb)

In [41]:
print("Hello World!")

Hello World!

In [0]:
import keyword

In [43]:
len(keyword.kwlist)

33

In [44]:
keyword.kwlist  # Returns list of keywords in python

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [0]:
#Multi line statements can be written in python using \ charatacter
a = 1+2+3+ \
    4+5+6+ \
    7+8+9+10

In [46]:
a

55

In [0]:
# line continuation is implied inside parentheses(), brackets[], braces{} in python
# Look at the examples below

In [0]:
a = (
      1+2+3+
      4+5+6
    )

In [49]:
a

21

In [0]:
colors = [
      'red',
      'green',
      'blue'
      ]

In [51]:
colors

['red', 'green', 'blue']

In [0]:
# Multiple statements can be written in a single line in python
a =1;b=2;c=3

In [53]:
a

1

In [54]:
b

2

In [55]:
c

3

In [56]:
#Indentation in python
for i in range(1,6):
  print(i)

1
2
3
4
5

In [57]:
if True:
  print('Hello')
  a = 5

Hello

In [58]:
#Above code piece can also be written as
if True: print('Hello');a=5

Hello

In [59]:
if True: 
  print('Hello');a=5

Hello

In [60]:
a

5

In [61]:
'''
  Multline comments are written in python like this
'''

'\n  Multline comments are written in python like this\n'

In [0]:
# Single line comments are written like this in python

In [0]:
#Docstring in python
# Docstring is short for documentation string
# Triple quotes are used while writing docstrings

def triple(num):
  """Function to triple the vaues"""
  return 3*num

In [64]:
triple(4)

12

In [65]:
#Dcostring is available to us an attribute of fucntion like below
triple.__doc__

'Function to triple the vaues'

In [0]:
website = "Google.com"

In [67]:
website

'Google.com'

In [0]:
#assigning multiple values to multiple variables in a single line
a,b,c = 5,3.2,"Hello"

In [69]:
print(a,' - ',b,' - ',c)

5  -  3.2  -  Hello

In [0]:
#assigning the same value to multiple variables in a single line
x=y=z="Same"

In [71]:
print(x,' - ',y,' - ',z)

Same  -  Same  -  Same

In [0]:
# DATA TYPES IN PYTHON

In [73]:
a = 5
print(a,"is type of",type(a))

5 is type of <class 'int'>

In [74]:
a=2.0
print(a,"is type of",type(a))

2.0 is type of <class 'float'>

In [75]:
a=1+2j
print(a,"is complex number?",isinstance(1+2j,complex))

(1+2j) is complex number? True

In [0]:
#PYTHON LIST
# List an ordered set of items. All the items in a list need not be of same type

In [0]:
a = [1,2.2,'python']

In [78]:
a

[1, 2.2, 'python']

In [79]:
print(a,"is type of",type(a))

[1, 2.2, 'python'] is type of <class 'list'>

In [0]:
a = [2,4,6,8,10]

In [81]:
a[2]

6

In [82]:
#Slicing items in list 
a[0:3]

[2, 4, 6]

In [83]:
a[:2]

[2, 4]

In [84]:
a[2:]

[6, 8, 10]

In [85]:
a[::2]

[2, 6, 10]

In [0]:
#LISTS ARE MUTABLE, MEANING VALUE OF ELEMENTS OF A LIST CAN BE ALTERED

In [0]:
a=[1,2,3,4]

In [0]:
a[3]=19

In [89]:
a

[1, 2, 3, 19]

In [0]:
a=[89,1,4,63,0]

In [91]:
a

[89, 1, 4, 63, 0]

In [0]:
# *********************************************************************************************************************
# TUPLE IS AN ORDERED SEQUENCE OF ITEMS SAME AS LIST. THE ONLY DIFFERENCE IS TUPLES ARE IMMUTABLE
# TUPLES ONCE CREATED CANNOT BE MODIFIED
# *********************************************************************************************************************

In [0]:
# *********************************************************************************************************************
# TUPLES ARE USED TO WRITE-PROTECT DATA AND ARE USUALLY FASTER THAN LIST AS IT CANNOT CHANGE DYNAMICALLY
# *********************************************************************************************************************

In [0]:
#Tuple is python looks like below
tup = (1,'program',9+3J)

In [95]:
tup

(1, 'program', (9+3j))

In [0]:
# tup.shape will not work for tuple as tuple object has no attribute shape

In [0]:
#Slicing operator [] can be used with tuple as well

In [98]:
tup[2]

(9+3j)

In [100]:
tup[0:2]

(1, 'program')

In [0]:
# tup[2] = 99 ==> throws an error as tuple object doesnt support item assignment

In [0]:
# *********************************************************************************************************************
# PYTHON STRINGS
# STRING IS A SEQUENCE OF UNICODE CHARACTERS. CAN BE USED WITH SINGLE OR DOUBLE QUOTES
# STRINGS ARE IMMUTABLE IN PYTHON
# *********************************************************************************************************************

In [0]:
s='This is a string'
s2 ="This is also a string"

In [109]:
print(s,"is type of",type(s))

This is a string is type of <class 'str'>

In [110]:
print(s2,"is type of",type(s2))

This is also a string is type of <class 'str'>

In [0]:
# LIKE LIST AND TUPLE SLICING OPERATOR CAN ALSO USED WITH STRINGS

In [0]:
s = 'Deep Learning'

In [0]:
# s[13:] = 'Engineer' ==> Throws an error as item assigment is not supported in python strings

In [0]:
# *********************************************************************************************************************
# PYTHON SET
# PYTHON SET is an unordered collection of unique items
# created using {}
# *********************************************************************************************************************

In [0]:
a = {5,90,3,1,76,99}

In [118]:
a

{1, 3, 5, 76, 90, 99}

In [120]:
type(a)

set

In [0]:
a = {1,1,3,3,9,8,9,10,10,7,7}

In [122]:
a

{1, 3, 7, 8, 9, 10}

In [0]:
# *********************************************************************************************************************
# Can perform union and intersection on sets
# AS SET IS AN UNORDERED COLLECTION, INDEXING HAS NO MEANING. HENCE THE SLICING OPERATOR[] WILL NOT WORK
# *********************************************************************************************************************

In [0]:
# a[0]=16 ==> throws error as set is an unordered collection

In [0]:
# *********************************************************************************************************************
# PYTHON DICTIONARY
# DICTIONARY IN PYTHON IS AN UNORDERED COLLECTION OF KEY-VALUE PAIRS
# GENERALLY USED WHEN THERE IS HUGE DATA AS IT HELPS TO RETRIVE DATA FASTLY
# DICTIONARIES ARE OPTIMISED FOR RETREIVING DATA
# *********************************************************************************************************************

In [0]:
d={1:'value','key':2}

In [127]:
type(d)

dict

In [128]:
d[1]

'value'

In [129]:
d['key']

2

In [0]:
# *********************************************************************************************************************
# CONVERSION BETWEEN DATA TYPES
# can convert data types using various data conversion functions
# *********************************************************************************************************************

In [132]:
#convert int into float
float(5)

5.0

In [133]:
#convert float into int
int(10.6)

10

In [134]:
int(-10.6)

-10

In [135]:
#conversion to and from string must contain compatible values
float('2.5')

2.5

In [136]:
str(25)

'25'

In [0]:
# int('1p') ==> throws error as it conversion type is not compatible

In [141]:
#Can convert one seqence to another
set([2,1,99,1,2,66])

{1, 2, 66, 99}

In [142]:
tuple({1,2,3})

(1, 2, 3)

In [143]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [145]:
# To convert to dictionary, each element must be pair
dict(([1,2],[3,4]))

{1: 2, 3: 4}

In [146]:
dict([[1,2],[3,4]])

{1: 2, 3: 4}

In [0]:
# *********************************************************************************************************************
# Two types of conversion
# --Implicit Type conversion
# --Explicit Type conversion
# *********************************************************************************************************************

In [0]:
# *********************************************************************************************************************
# Implicit Type conversion
# python automatically converts one data type to another data type. This process doesnt need any other involvement
# python promotes conversion of lower datatype(integer) to higher datatype(float) to avoid data loss
# *********************************************************************************************************************

In [0]:
num_int = 20
num_float = 22.33

In [0]:
num_new = num_int + num_float

In [151]:
type(num_int)

int

In [152]:
type(num_float)

float

In [153]:
type(num_new)

float

In [154]:
num_new

42.33

In [0]:
# Addition of string(higher) datatype and integer(lower) datatype

In [0]:
num_int = 123
num_str = "456"

In [0]:
# num_new = num_int+num_str ==> python doesnt  do implicit conversion which is why this throws an error

In [0]:
# *********************************************************************************************************************
# EXPLICIT TYPE CONVERSION
# In explicit type conversion, users convert the data type of an object to required data type.
# We use the predefined function like int(), float(),str() etc to perform explicit type of conversion
# This type conversion is also called typecasting because the user casts the data type of the objects
# *********************************************************************************************************************

In [0]:
num_int = 123
num_str = "456"
num_str = int(num_str)

In [0]:
num_new = num_int+num_str

In [166]:
num_new

579