[View in Colaboratory](https://colab.research.google.com/github/kalyan369/Python_DS_ML_DL_Examples/blob/master/NB_Python_Basics_Part_2.ipynb)

In [0]:
#*************************************************************************************************************
# PYTHON INPUT,OUTPUT AND IMPORT
#*************************************************************************************************************

In [2]:
#print fucntion is used to output the data to the standard output device
print("This sentence is output to the screen")
a=5
print("The value of a is",a)

This sentence is output to the screen
The value of a is 5

In [0]:
#Space after the string in the last print is by default, however it can be changed

In [0]:
#THE ACTUAL SYNTAX OF PRINT() FUNCTION IS

# print(*objects,sep=' ',end='\n', file=sys.stdout, flush=False)

# objects are the values to be printed
# sep value has to be changed to remove the space in the above print function. Its default value is space
# end is the value that is printed after all the objects are printed which defaults to a new line
# file is the object where the values are printed. By default they are printed to sys.stdout which screen.

In [5]:
print(1,2,3,4)

1 2 3 4

In [6]:
print(1,2,3,4,sep="=>")

1=>2=>3=>4

In [7]:
print(1,2,3,4,sep="=>",end='%')

1=>2=>3=>4%

In [0]:
# OUTPUT FORMATTING
# Sometimes output has to be formatted to make it look attractive.
# This is can be done by using str.format()
# This method is visible to any string object

In [9]:
x=5;y=10
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [0]:
#In the above example, curly braces are used as placeholders

In [11]:
#We can also specify the order in which they have to be printed using tuple index

print('I love {0} and {1}'.format('bread','butter'))

print('I love {1} and {0}'.format('bread','butter'))

I love bread and butter
I love butter and bread

In [12]:
#we can even use keyword arguments to format the string 

print('Hello {name}, {greeting}'.format(greeting='Good Morning!',name='Kalyan'))

Hello Kalyan, Good Morning!

In [0]:
# PYTHON INPUT

In [0]:
#num = input('Enter a number')

In [0]:
#PYTHON IMPORT

# When python program grows bigger it is important to break it into different modules
# A module is a file containing python definitions and statements
# Python modules have a filename and ends with extension .py
# Definitions inside a module can be imported to another module or the interactive interpretor in python
# We use import keyword to do this

In [0]:
import math

In [17]:
math.pi

3.141592653589793

In [0]:
# While importing a module, python look at several places defined in sys.path
# It is a list of directory locations as shown below

In [19]:
import sys
sys.path

['',
 '/env/python',
 '/usr/lib/python36.zip',
 '/usr/lib/python3.6',
 '/usr/lib/python3.6/lib-dynload',
 '/usr/local/lib/python3.6/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.6/dist-packages/IPython/extensions',
 '/content/.ipython']

In [20]:
#Import pi into local space
from math import pi
pi

3.141592653589793

In [21]:
sys.version # to know python version

'3.6.3 (default, Oct  3 2017, 21:45:48) \n[GCC 7.2.0]'

In [22]:
!python --version

Python 3.6.3

In [0]:
#*************************************************************************************************************
# PYTHON OPERATORS
#*************************************************************************************************************

In [0]:
# // - for floor divison - divison that results into whole number adjusted to left in the number line
# ** - Exponent - left operand raised to the power of right

In [0]:
x= 9
y = 5

In [26]:
x//y

1

In [27]:
x**2

81

In [28]:
#*************************************************************************************************************
# ARITHMETIC OPERATORS IN PYTHON
#*************************************************************************************************************

x = 11
y = 4

print('x + y =',x+y)

print('x - y =',x-y)

print('x * y =',x*y)

print('x / y =',x/y)

print('x // y =',x//y)

print('x ** y =',x**y)

x + y = 15
x - y = 7
x * y = 44
x / y = 2.75
x // y = 2
x ** y = 14641

In [29]:
#*************************************************************************************************************
# COMPARISON OPERATORS IN PYTHON
#*************************************************************************************************************

x = 9
y = 13

print('x > y  is',x>y)

print('x < y  is',x<y)

print('x == y is',x==y)

print('x != y is',x!=y)

print('x >= y is',x>=y)

print('x <= y is',x<=y)

x > y  is False
x < y  is True
x == y is False
x != y is True
x >= y is False
x <= y is True

In [30]:
#*************************************************************************************************************
# LOGICAL OPERATORS IN PYTHON
#*************************************************************************************************************

x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

In [0]:
#*************************************************************************************************************
# SPECIAL OPERATORS IN PYTHON
#*************************************************************************************************************

In [32]:
# IDENTITY OPERATORS

# is -> True if the operands identical
# is not -> True if the operands are not identical

x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]
x4 = (1,2,3)
y4 = (1,2,3)
x5 = {4,5,6}
y5 = {4,5,6}

print(x1 is not y1)

print(x2 is y2)

print(x3 is y3)

print(x4 is y4)

print(x5 is y5)

False
True
False
False
False

In [0]:
# x1 and y1 are integers of same values, so they are equal as well as identical
# x2 and y2 are strings of same value, so they are equal as well as identical
# x3 and y3 are lists. They are equal but not identical. 
# since list are mutable, interpreter locates them seperately in memory although they are equal

In [34]:
# Memory addresses of the variables
print(x1,'=>',id(x1), y1,'=>',id(y1))
print(x2,'=>',id(x2), y2,'=>',id(y2))
print(x3,'=>',id(x3), y3,'=>',id(y3))
print(x4,'=>',id(x4), y4,'=>',id(y4))
print(x5,'=>',id(x5), y5,'=>',id(y5))

5 => 10935616 5 => 10935616
Hello => 140044693408376 Hello => 140044693408376
[1, 2, 3] => 140044692959880 [1, 2, 3] => 140044692961928
(1, 2, 3) => 140044692926752 (1, 2, 3) => 140044698653032
{4, 5, 6} => 140045179703368 {4, 5, 6} => 140044693420296

In [0]:
# MEMBERSHIP OPERATORS

# in -> True if value/variable is found in the sequence
# not in -> True if value/variable is not found in the sequence

In [36]:
x = 'Hello world'
y = {1:'a',2:'b'}

print('H' in x)

print('hello' not in x)

print(1 in y)

print('a' in y)

True
True
True
False

In [0]:
#*************************************************************************************************************
# PYTHON NAMESPACE AND SCOPE
#*************************************************************************************************************

In [39]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!