[View in Colaboratory](https://colab.research.google.com/github/kalyan369/Python_DS_ML_DL_Examples/blob/master/NC_Python_Flow_Control.ipynb)

In [0]:
#******************************************************************************************************************
# PYTHON IF STATEMENT
#******************************************************************************************************************

In [23]:
num = 3
if num >0:
  print(num,'is a positive number')

3 is a positive number

In [0]:
#******************************************************************************************************************
# PYTHON IF-ELSE STATEMENT
#******************************************************************************************************************

In [25]:
num=-2
if num>0:
  print(num,'is a positive number')
else:
  print(num,'is a negative number')

-2 is a negative number

In [0]:
#******************************************************************************************************************
# PYTHON IF-ELIF-ELSE STATEMENT
#******************************************************************************************************************

In [27]:
num=-2
if num>0:
  print(num,'is a positive number')
elif num==0:
  print(num,'is a zero')
else:
  print(num,'is a negative number')

-2 is a negative number

In [0]:
#******************************************************************************************************************
# FOR LOOP IN PYTHON
# for loop is used to iterate over a sequence (list, tuple, string or other iterable objects)
#******************************************************************************************************************

In [29]:
nums = [3,7,8,2,99,7,71,46,52]

sum = 0

for num in nums:
  sum += num

print('The sum is',sum)

The sum is 295

In [0]:
#******************************************************************************************************************
# RANGE FUNCTION
# RANGE(START,STOP,STEP_SIZE)
# sequence of numbers can be generated using range function
#******************************************************************************************************************

In [31]:
range(10)

range(0, 10)

In [32]:
type(range(10))

range

In [33]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __reduce__(...)
 |      helper for pickle
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [0]:
# range doesnt store all the values in the memory
# so passed to a list to store the value

In [35]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
range(0,10)

range(0, 10)

In [38]:
list(range(2,8))

[2, 3, 4, 5, 6, 7]

In [0]:
odd_nums = list(range(1,20,2))

In [41]:
len(odd_nums)

10

In [0]:
# len function used to loop through the sequence by index

In [0]:
genre =['action','drama','thriller','horror','war','romance']

In [48]:
# to iterate through a list using indexing
i=0
for i in range(len(genre)):
  print(i,'th genre is',genre[i])

0 th genre is action
1 th genre is drama
2 th genre is thriller
3 th genre is horror
4 th genre is war
5 th genre is romance

In [0]:
# FOR LOOP WITH ELSE BLOCK

# else block in for loop is executed after the loop exhauts

In [50]:
digits = [1,4,9]

for i in digits:
  print(i)
else:
  print('No items left')

1
4
9
No items left

In [0]:
# when break statement is used to stop the loop, ELSE BLOCK IS IGNORED

In [0]:
#******************************************************************************************************************
# WHILE LOOP IN PYTHON 
# IS USED TO ITERATE OVER SEQUENCES IN PYTHON
#******************************************************************************************************************

In [54]:
#Program to add n natural numbers
n=10

sum =0
i=1

while i<=n:
  sum += i
  i=i+1

print('The sum of first',n,'natural numbers is',sum)

The sum of first 10 natural numbers is 55

In [0]:
# Same as for loop, while also can have else block

In [57]:
counter = 0

while counter < 3:
    print("Inside loop")
    counter += 1
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside else

In [0]:
#******************************************************************************************************************
# BREAK AND CONTINUE IN PYTHON
# break and continue statements alter the flow of normal loop
#******************************************************************************************************************

In [59]:
for val in 'string':
  if val == 'i':
    break
  print(val)

print("End of loop")

s
t
r
End of loop

In [0]:
# Continue is used to skip the rest of the code inside a loop for the current iteration only

In [61]:
for val in 'string':
  if val == 'i':
    continue
  print(val)

print("End of loop")

s
t
r
n
g
End of loop

In [0]:
# PASS STATEMENT IN PYTHON

In [0]:
# Difference between pass and comment statement in python is pass not ignored where as comment is ignored

In [0]:
seq = {'sachin','ramesh','tendulkar'}

In [65]:
for item in seq:
  pass

print('End of loop')

End of loop