[View in Colaboratory](https://colab.research.google.com/github/kalyan369/Python_DS_ML_DL_Examples/blob/master/NE_Python_DataTypes.ipynb)

In [0]:
#*************************************************************************************************************************
# PYTHON NUMBERS, TYPE CONVERSION AND MATHEMATICS
#*************************************************************************************************************************

In [0]:
# python supports integers, floating point numbers and complex numbers

In [118]:
(1.1+2.2) == 3.3

False

In [119]:
1.1 + 2.2

3.3000000000000003

In [0]:
#DECIMAL MODULE IS USE TO HANDLE ABOVE SITUATION AS BELOW

In [0]:
#*************************************************************************************************************************

In [122]:
import decimal

print(0.1)

print(decimal.Decimal(0.1))

0.1
0.1000000000000000055511151231257827021181583404541015625

In [123]:
from decimal import Decimal as D

print(D('1.1') + D('2.2'))

print(D('1.2') * D('2.50'))

3.3
3.000

In [0]:
# PYTHON FRACTIONS

In [125]:
import fractions

print(fractions.Fraction(1.5))

print(fractions.Fraction(5))

print(fractions.Fraction(1,3))

3/2
5
1/3

In [126]:
import fractions

print(fractions.Fraction(1.1))

print(fractions.Fraction('1.1'))

2476979795053773/2251799813685248
11/10

In [127]:
from fractions import Fraction as F

print(F(1,3) + F(1,3))

print(1 / F(5,6))

print(F(-3,10) > 0)

print(F(-3,10) < 0)

2/3
6/5
False
True

In [128]:
import random
dir(random)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_BuiltinMethodType',
 '_MethodType',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_inst',
 '_itertools',
 '_log',
 '_pi',
 '_random',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

In [129]:
random.randrange(10,20)

17

In [130]:
help(random.randrange)

Help on method randrange in module random:

randrange(start, stop=None, step=1, _int=<class 'int'>) method of random.Random instance
    Choose a random item from range(start, stop[, step]).

    This fixes the problem with randint() which includes the
    endpoint; in Python this is usually not what you want.

In [0]:
# LIST DATATYPE

# ADD METHOD ON LIST TO ADD ONE ELEMENT WHEREAS EXTEND IS USED TO ADD MORE THAN ONE ELEMENT AS SHOWN BELOW

In [132]:
odd = [1, 3, 5]

odd.append(7)

print(odd)

odd.extend([9, 11, 13])

print(odd)

[1, 3, 5, 7]
[1, 3, 5, 7, 9, 11, 13]

In [0]:
# + ALSO CAN BE USED TO ADD ELEMENTS TO THHE LIST WHICH IS CALLED AS CONCATENATION
# * REPEATS A LIST FOR GIVEN NUMBER OF TIMES

In [134]:
odd = [1, 3, 5]

print(odd + [9, 7, 5])

print(["re"] * 3)

[1, 3, 5, 9, 7, 5]
['re', 're', 're']

In [135]:
# INSERT IS USED ADD ELEMENT/S AT A SPECIFIED LOCATION
odd = [1, 9]
odd.insert(1,3)

print(odd)

odd[2:2] = [5, 7]

print(odd)

[1, 3, 9]
[1, 3, 5, 7, 9]

In [136]:
# deleting elemets from the list using del keyword

ex_list = ['p','r','o','b','l','e','m']

del ex_list[2]

print(ex_list)

['p', 'r', 'b', 'l', 'e', 'm']

In [0]:
del ex_list

In [0]:
# ex_list ==> throws an error as list got deleted

In [0]:
# We can use remove() method to remove the given item or pop() method to remove an item at the given index
# The pop() method removes and returns the last item if index is not provided 
# This helps us implement lists as stacks (first in, last out data structure)
# clear method is used to empty the list

In [140]:
my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')

print(my_list)

print(my_list.pop(1))

print(my_list)

print(my_list.pop())

print(my_list)

my_list.clear()

print(my_list)

['r', 'o', 'b', 'l', 'e', 'm']
o
['r', 'b', 'l', 'e', 'm']
m
['r', 'b', 'l', 'e']
[]

In [0]:
# Following is another method of deleting elements by assigning empty list to the slice of elements
my_list = ['p','r','o','b','l','e','m']

In [0]:
my_list[2:3] = []

In [143]:
my_list

['p', 'r', 'b', 'l', 'e', 'm']

In [144]:
my_list[2:5] = []
my_list

['p', 'r', 'm']

In [145]:
my_list = [3, 8, 1, 6, 0, 8, 4]

print(my_list.index(8))

print(my_list.count(8))

my_list.sort()

print(my_list)

my_list.reverse()

print(my_list)

1
2
[0, 1, 3, 4, 6, 8, 8]
[8, 8, 6, 4, 3, 1, 0]

In [0]:
# LIST COMPREHENSION

pow2 = [2**x for x in range(10)]

In [147]:
pow2

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [0]:
pow2 = [2**x for x in range(10) if x>5]

In [149]:
pow2

[64, 128, 256, 512]

In [150]:
odd =[x for x in range(20) if x%2 == 1]
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [151]:
[x+y for x in ['Python ','C '] for y in ['Language','Programming']]

['Python Language', 'Python Programming', 'C Language', 'C Programming']

In [152]:
# Enumerate method
grocery = ['bread', 'milk', 'butter']
enumerateGrocery = enumerate(grocery)

print(type(enumerateGrocery))

print(list(enumerateGrocery))

enumerateGrocery = enumerate(grocery, 10)
print(list(enumerateGrocery))

<class 'enumerate'>
[(0, 'bread'), (1, 'milk'), (2, 'butter')]
[(10, 'bread'), (11, 'milk'), (12, 'butter')]

In [153]:
grocery = ['bread', 'milk', 'butter']

for item in enumerate(grocery):
  print(item)

print('\n')
for count, item in enumerate(grocery):
  print(count, item)

print('\n')
# changing default start value
for count, item in enumerate(grocery, 100):
  print(count, item)

(0, 'bread')
(1, 'milk')
(2, 'butter')


0 bread
1 milk
2 butter


100 bread
101 milk
102 butter

In [0]:
prog_lang = ['python','java','scala','c++']

In [155]:
for item in enumerate(prog_lang):
  print(item)

(0, 'python')
(1, 'java')
(2, 'scala')
(3, 'c++')

In [156]:
for count,item in enumerate(prog_lang):
  print(count,item)

0 python
1 java
2 scala
3 c++

In [0]:
# TUPLE DATA TYPE
# The difference between the two is that we cannot change the elements of a tuple once it is assigned 
# whereas in a list, elements can be changed.

In [158]:
my_tuple=("tuple")
type(my_tuple)

str

In [159]:
my_tuple=("tuple",)
type(my_tuple)

tuple

In [0]:
# STRING DATA TYPE
# elements in string can be accessed using index

In [0]:
str = "Hello"

In [0]:
#del str[1] ==> throws an error as string is immutable

In [0]:
del str

In [0]:
#*************************************************************************************************************************
# PYTHON STRING OPERATIONS
#*************************************************************************************************************************

In [0]:
# concatenation of two strings
str1 = 'Hello'
str2 = 'Good morning'

In [166]:
str1+str2

'HelloGood morning'

In [167]:
str1 * 3

'HelloHelloHello'

In [168]:
'a' in 'program'

True

In [169]:
'l' in 'python'

False

In [0]:
str = 'cold'

list_enumerate = list(enumerate(str))

In [171]:
for index,item in list_enumerate:
  print(index,item)

0 c
1 o
2 l
3 d

In [172]:
len(str)

4

In [173]:
# using triple quotes
print('''He said, "What's there?"''')

# escaping single quotes
print('He said, "What\'s there?"')

# escaping double quotes
print("He said, \"What's there?\"")

He said, "What's there?"
He said, "What's there?"
He said, "What's there?"

In [0]:
# Below are few commonly used string functions like lower, upper, split,join,find,replace

In [175]:
"PrOgRaMiZ".lower()

'programiz'

In [176]:
"PrOgRaMiZ".upper()

'PROGRAMIZ'

In [177]:
"This will split all words into a list".split()

['This', 'will', 'split', 'all', 'words', 'into', 'a', 'list']

In [178]:
' '.join(['This', 'will', 'join', 'all', 'words', 'into', 'a', 'string'])

'This will join all words into a string'

In [179]:
'Happy New Year'.find('ew')

7

In [180]:
'Happy New Year'.replace('Happy','Brilliant')

'Brilliant New Year'

In [0]:
#*************************************************************************************************************************
# PYTHON SETS
#*************************************************************************************************************************

In [0]:
my_set ={1,2,3}

In [0]:
# sets are mutable. As they are unordered, indexing has no meaning
# single element can be added using add method whereas update method is used for multiple elements

In [184]:
my_set = {1,3}
my_set

{1, 3}

In [185]:
my_set.add(2)
my_set

{1, 2, 3}

In [186]:
my_set.update([0,9,1.5])
my_set

{0, 1, 1.5, 2, 3, 9}

In [187]:
my_set.update([4,5], {1,6,8})
my_set

{0, 1, 1.5, 2, 3, 4, 5, 6, 8, 9}

In [188]:
# Removing elemets from a set
# discard and remove methods are used to delete elements in a set
# The only difference between the two is that, while using discard() if the item does not exist in the set, it remains unchanged. 
# But remove() will raise an error in such condition

my_set.discard(4)
my_set

{0, 1, 1.5, 2, 3, 5, 6, 8, 9}

In [0]:
# my_set.remove(4) ==> throws an error as 4 doesnt exit in my_set

In [0]:
# pop and clear can also be used to remove element in set
# while using pop, an arbitary element will be removed as set is unordered

In [0]:
#*************************************************************************************************************************
# PYTHON SET OPERATIONS
#*************************************************************************************************************************

In [192]:
# union of sets is performed by using |

A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [193]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [194]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [195]:
# intersection of two sets is performed by using &

A & B

{4, 5}

In [196]:
A.intersection(B)

{4, 5}

In [197]:
# Difference of two sets is performed by using -

A-B

{1, 2, 3}

In [198]:
B-A

{6, 7, 8}

In [199]:
A.difference(B)

{1, 2, 3}

In [200]:
B.difference(A)

{6, 7, 8}

In [201]:
# symmetric difference of two sets is performed by using ^

A ^ B # Union of A-B and B-A

{1, 2, 3, 6, 7, 8}

In [0]:
# FROZEN SETS ARE IMMUTABLE SETS
# Sets being mutable are unhashable, so they can't be used as dictionary keys. 
# On the other hand, frozensets are hashable and can be used as keys to a dictionary.

In [0]:
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])

In [204]:
A

frozenset({1, 2, 3, 4})

In [205]:
B

frozenset({3, 4, 5, 6})

In [0]:
# All other set operations can be performed on frozenset

In [207]:
A.isdisjoint(B)

False

In [208]:
A | B

frozenset({1, 2, 3, 4, 5, 6})

In [209]:
A & B

frozenset({3, 4})

In [0]:
# frozenset doesnt have add and update methods

In [0]:
#*************************************************************************************************************************
# PYTHON DICTIONARY
#*************************************************************************************************************************

In [212]:
# empty dictionary
my_dict = {}
my_dict

{}

In [213]:
# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}
my_dict

{1: 'apple', 2: 'ball'}

In [214]:
# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
my_dict

{1: [2, 4, 3], 'name': 'John'}

In [215]:
# using dict()
my_dict = dict({1:'apple', 2:'ball'})
my_dict

{1: 'apple', 2: 'ball'}

In [216]:
# from sequence having each item as a pair
my_dict = dict([(1,'apple'), (2,'ball')])
my_dict

{1: 'apple', 2: 'ball'}

In [217]:
# accessing elements from dictionary

my_dict = {'name':'Jack', 'age': 26}

# Output: Jack
print(my_dict['name'])

# Output: 26
print(my_dict.get('age'))

# The difference while using get() is that it returns None instead of KeyError, if the key is not found

Jack
26

In [0]:
# Dictionary is mutable in python

In [219]:
# adding or updating elements in dictionary
my_dict = {'name':'Jack', 'age': 26}

# update value
my_dict['age'] = 27

print(my_dict)

# add item
my_dict['address'] = 'Downtown'  

print(my_dict)

{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [220]:
marks = {}.fromkeys(['Math','English','Science'], 0)

print(marks)

for item in marks.items():
    print(item)

list(sorted(marks.keys()))

{'Math': 0, 'English': 0, 'Science': 0}
('Math', 0)
('English', 0)
('Science', 0)

['English', 'Math', 'Science']

In [221]:
# Delete or remove elements from dictionary
squares = {1:1, 2:4, 3:9, 4:16, 5:25}

#POP return the value when the key is given and removes the key-value pair
print(squares.pop(4))  

print(squares)

#POPITEM removes any arbitary key-value pair in the dictionary
#print(squares.popitem())

#print(squares)

# delete a particular item
del squares[5]  

# Output: {2: 4, 3: 9}
print(squares)

# remove all items
squares.clear()

# Output: {}
print(squares)

# delete the dictionary itself
del squares

16
{1: 1, 2: 4, 3: 9, 5: 25}
{1: 1, 2: 4, 3: 9}
{}

In [0]:
#*************************************************************************************************************************
# PYTHON NESTED DICTIONARY
#*************************************************************************************************************************

In [223]:
# In python, a dictionary is unordered collection of key-value pairs

people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

In [224]:
# Accessing elements in nested dictionary

people[1]['age']

'27'

In [225]:
people[2]['name']

'Marie'

In [226]:
people[1]['sex']

'Male'

In [0]:
# Adding elemenst to a nested dictionary
people[3]={}
people[3]['age'] = 30
people[3]['name'] = 'Einstein'
people[3]['sex'] = 'Male'

In [228]:
people

{1: {'age': '27', 'name': 'John', 'sex': 'Male'},
 2: {'age': '22', 'name': 'Marie', 'sex': 'Female'},
 3: {'age': 30, 'name': 'Einstein', 'sex': 'Male'}}

In [0]:
# deleting elements from dictionary
people = {1: {'Name': 'John', 'Age': '27', 'Sex': 'Male'},
          2: {'Name': 'Marie', 'Age': '22', 'Sex': 'Female'}}

In [237]:
for p_id, p_info in people.items():
    print("\nPerson ID:", p_id)
    
    for key in p_info:
        print(key + ':', p_info[key])

Person ID: 1
Name: John
Age: 27
Sex: Male

Person ID: 2
Name: Marie
Age: 22
Sex: Female

In [0]:
#*************************************************************************************************************************
# PYTHON ARRAYS
# We are using lists as arrays in this exercise
#*************************************************************************************************************************

In [0]:
arr = [10, 20, 30, 40, 50]

In [240]:
arr[0] # returns first element

10

In [244]:
arr[-1] # returns last element

50

In [0]:
brands = ["Coke", "Apple", "Google", "Microsoft", "Toyota"]

In [0]:
num_brands = len(brands)

In [247]:
num_brands

5

In [248]:
add = ['a', 'b', 'c']
add.append('d')
print(add)

['a', 'b', 'c', 'd']

In [251]:
colors = ["violet", "indigo", "blue", "green", "yellow", "orange", "red"]
del colors[4]
colors.remove("blue") # used value with remove method
colors.pop(3) # used index with pop method
print(colors)

['violet', 'indigo', 'green', 'red']

In [0]:
#*************************************************************************************************************************
# LIST COMPREHENSION VS FOR LOOP IN PYTHON
#*************************************************************************************************************************

In [254]:
h_letters = []

for letter in 'human':
    h_letters.append(letter)

print(h_letters)

['h', 'u', 'm', 'a', 'n']

In [256]:
# WRITING ABOVVE LOGIC USING LIST COMPREHENSION

h_letters=[letter for letter in 'human']

h_letters

['h', 'u', 'm', 'a', 'n']

In [0]:
#*************************************************************************************************************************
# LIST COMPREHENSION VS LAMBDA FUNCTIONS IN PYTHON
# List comprehension is generally more compact and faster than normal functions and loops for creating list
#*************************************************************************************************************************

In [258]:
h_letters = list(map(lambda x: x, 'human'))
h_letters

['h', 'u', 'm', 'a', 'n']

In [259]:
# Conditions in List Comprehension

number_list = [ x for x in range(20) if x % 2 == 0]
print(number_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [260]:
# Nested if with list comprehension

num_list = [y for y in range(100) if y % 2 == 0 if y % 5 == 0]
print(num_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [262]:
# If..Else in List Comprehension

obj = ["Even" if i%2==0 else "Odd" for i in range(10)]
print(obj)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [0]:
# Nested loops in list comprehension

In [264]:
# transpose matrix using list comprehension

matrix = [[1, 2],[3,4],[5,6],[7,8]]
transpose = [[row[i] for row in matrix] for i in range(2)]
print (transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [271]:
# transpose matrix using nested loops
transposed =[]
for i in range(2):
  temp=[]
  for row in matrix:
    temp.append(row[i])
  transposed.append(temp)
  
print(transposed)

[[1, 3, 5, 7], [2, 4, 6, 8]]